.allposts-container {
  padding: 40px;
  background: #f2f2f2;
  min-height: 100vh;
}

.allpost-card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
